@charset "UTF-8";

#display {
	width: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1e2b+0,140c0c+100 */
	background: #1a1e2b; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #1a1e2b 0%, #140c0c 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1a1e2b), color-stop(100%,#140c0c)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #1a1e2b 0%,#140c0c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #1a1e2b 0%,#140c0c 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #1a1e2b 0%,#140c0c 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #1a1e2b 0%,#140c0c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1e2b', endColorstr='#140c0c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	.container {
		width: 100%;
		height: 100%;
		background: url(http://placehold.it/1600x900) no-repeat 50% 50%;
		background-size: contain;
	}
}